.bar {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    height: 70px;
    margin-top: 80px;
    background-color: #0004FF;
}

.titleWrap {
    width: auto;
    margin: 18px 20px 0 auto;
}

@media screen and (max-width: 600px) {
    .bar {
        display: flex;
        flex-direction: row-reverse;
        width: auto;
        height: 70px;
        margin-top: 80px;
        background-color: #0004FF;
    }
    
    .bar {
        width: 100vw;
        height: 70px;
        margin-top: 158px;
        margin-bottom: 55px;
        background-color: #0004FF;
    }

    .titleWrap {
        width: 68%;
        padding-top: 0px;
        padding-left: 0%;
    }
}