

.title {
    position: relative;
  }
  
.bodyWrap {
    margin-left: 180px;
    min-height: 100%;
}

.inputWrap{
    display: flex;
}

.inputForm{
    border-color: #0004FF;
    border-width: 1px;
    width: 232px;
    height: 32px;
    border-radius: 5px;
}

.loginBtn{
    width: auto;
    height: auto;
    background-color: #0004FF;
    border-radius: 8px;
    color: #fff;
    margin-left: 20px;
    padding: 9px 12px;
    font-family: 'Montserrat' ,sans-serif;
    font-size: 16px;
}

.footer
{
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 0;
}
  
  @media screen and (max-width: 820px) {
    .bodyWrap {
      margin-left: 4vw;
      margin-right: 4vw;
    }
  }