.contentWrap {
    margin: 40px 50px 20px 16.5vw;
}

.title {
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 100;
    font-size: 60px;
    color: #0004FF;
}

.informationWrap {
    width: 50vw;
    max-width: 656px;
    margin: 130px auto 0px auto;
}

.year {
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.catch {
    margin: 5px auto 0px auto;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.textWrap {
    margin: 26px auto 0px auto;
    display: flex;
}

.tool {
    width: 230px;
    margin-right: 50px;
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 500;
    font-size: 12px;
} 

.designWrap {
    display: flex;
}

.codingWrap {
    display: flex;
}

.text {
    width: auto;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    font-size: 16px;
}

.subImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.link {
    display: flex;
    background-color: #0004FF;
    color: #fff;
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 400;
    width: auto;
    margin: 100px 30% 0px 30%;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 601px) and (max-width: 1025px){
    .title {
        font-family: 'Montserrat' ,sans-serif;
        font-weight: 100;
        font-size: 5vw;
        color: #0004FF;
    }

    .informationWrap {
        width: 70vw;
        max-width: none;
        margin: 100px auto 0px auto;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-family: 'Montserrat' ,sans-serif;
        font-weight: 100;
        font-size: 12vw;
        color: #0004FF;
    }

    .contentWrap {
        width: 80vw;
        margin: 40px auto 20px auto;
    }

    .informationWrap {
        width: 80vw;
        max-width: none;
        margin: 100px auto 0px auto;
    }
    
    .textWrap {
        width: 100%;
        margin: 26px auto 0px auto;
        display: block;
    }

    .text {
        width: auto;
        margin-top: 60px;
        margin-right: 0px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 100;
        font-size: 16px;
    }

    .tool {
        width: 230px;
        margin-right: 50px;
        font-family: 'Montserrat' ,sans-serif;
        font-weight: 500;
        font-size: 12px;
        display: flex;
    } 
}