.titleWrap {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 10vw;
}

.title {
    align-self: center;
    width: 135px;
}

.title img {
    width: auto;
    height:auto;
    max-width: 78px;
    object-fit:fill;
}

    .pc { display: block !important;}
    .sp { display: none !important;}

@media screen and (max-width: 820px) {
    .titleWrap {
        position: relative;
        top: 0px;
        left: 0px;
        width: 80vw;
        margin: 40px auto 0px auto;
    }

    .title {
        align-self: center;
        width: 25vw;
        justify-content: fit;
        margin: 0px 25vw 0px 27vw;
    }

    .title img {
        width:100%;
        height:auto;
        max-width:100%;
        max-height:100%;
        object-fit:fill;
    }

    .pc { display: none !important;}
    .sp { display: block !important;}
}