.titleWrap {
    position: relative;
    top: 0px;
    width: 20vw;
}

.title {
    align-self: center;
    width: 10vw;
    margin: 10px auto 0px 38px;
    justify-content: fit;
}

.title img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    object-fit:scale-down;
}

.icon {
    align-self: center;
    margin: 18px 50% 0px 50%;
}

@media screen and (max-width: 600px) {
    .titleWrap {
        position: relative;
        top: 0px;
        width: 20vw;
    }

    .title {
        align-self: center;
        width: 8vw;
        margin: 5px auto 0px 4vw;
        justify-content: fit;
    }
}