.topWrap {
    width: auto;
    height: auto;
    display: flex;
    margin: 40px 50px 20px 0px;
}

.tobirae {
    margin-left: 16.5vw;
    width: 55%;
    height: auto;
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 100;
    color: #0004FF;
    transform: scale(1,1.2);
}

@media screen and (max-width: 600px){
    .topWrap {
        width: 80%;
        height: auto;
        display: block;
        margin: 30px auto 20px auto;
    }

    .tobirae {
        margin-left: 0px;
        margin-top: 20px;
        width: 80vw;
        height: auto;
    }
}